.banner {
    position: relative;
    overflow: hidden;
    width: 1170px;
    height: 400px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
}

.banner-blur {  
    position: absolute;
    width: 1170px;
    height: 400px;
    gap: 0px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    background: linear-gradient(269.96deg, rgba(29, 29, 29, 0) 0.04%, rgba(29, 29, 29, 0.8) 99.5%);
    z-index: 2;
}

#banner-img {
    position: absolute;
    width: 1170px;
    height: 400px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    object-fit:cover;
    transform:scale(1.02);
    z-index: 1;
}

.header {
    position: absolute;
    display: grid;
    width: 586px;
    height:161px;
    bottom: 130px;
    left: 60px;
    padding: 0px 15px 0px 0px;
    gap: 16px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    z-index: 3;

}

#banner-title {
    width: 600px;
    height: 64px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
    text-underline-position: under;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

#banner-text {
    
    width: 571px;
    height: 81px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    text-underline-position: under;
    text-decoration-skip-ink: none;
    color: #FFFFFF;

}