@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
    width: 1174px;
    height: 48px;
    display: flex;
    gap: 141px;
    opacity: 0px;
}

.web-navbar {
    align-self: center;
    width: 201.44px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.07em;
    text-align: left;
    text-underline-position: under;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.home-navbar {
    align-self: center;
    width: 63.16px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.07em;
    text-align: left;
    text-underline-position: under;
    text-decoration-skip-ink: none;
    color: #868686;
}

.list-navbar {
    align-self: center;
    width: 112.16px;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.07em;
    text-align: left;
    text-underline-position: under;
    text-decoration-skip-ink: none;
    color: #868686;
}

.search-navbar {
    display: grid;
    width: 374.58px;
    height: 48px;
    padding: 8px 100px 8px 18px;
    gap: 10px;
    border-radius: 37px;
    opacity: 0px;
    background: #374151;
    box-sizing: border-box;
}

.search-placeholder {
    width: auto;
    height: 32px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.07em;
    text-align: left;
    text-underline-position:under;
    text-decoration-skip-ink: none;
    color: #868686;

}